
body{
  background-color: HSL(185, 75%, 39%);
}

hr  {
  color: #e8eae6;
}

.main_block{
  position: relative;
  right: 37.5%;
  margin-top: 12%;
  width: 20%;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  height: 50%;
  display:inline-block;
  float: right;
}

.photo_block{
  position: relative;
  bottom: 50px;
}


.detail_block{
  width:30%;
  display:inline-block;
}


.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

#top-image{
  position: relative;
  bottom: 200px;
  right: 500;
}

#bottom-image{
  position: relative;
  bottom: 200px;
  left: 200px;
  display: inline-block;
}

#header-image{
  width:100%;
  border-radius: 25px 25px 0 0;
}

#victor-image{
  border-radius: 100%;
  border:solid white 4px;
  vertical-align:top;/* or display:block; + margin:auto;*/
}
